<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include("partials/head.html")  %>
<title><%= title %></title>
</head>
<body class='text-white'>
    <%- include("partials/navigation.html") %>
    <div class="container">
        <div class="row">
            <div class="col-12 col-img-index my-auto  text-center">
                <img class='animated rotateInUpRight'  src="/img/logo_transparent.png" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid pb-0 mb-0" id='about'>
        <div class="row bg-dark text-white p-5 align-items-center">

            <div class="col-6">
                <ul class='list-group list-group-horizontal'>
                    <li class='mx-4'> 
                        <i class="fab fa-youtube fa-4x"></i>
                    </li>
                    <li class='mx-4'>        
                        <i class="fab fa-facebook-f fa-4x"></i>
                    </li>
                    <li class='mx-4'>
                       <i class="fab fa-twitter fa-4x"></i>
                    </li>
                </ul>
            </div>
            
            <div class="col-6">
                <h3>Consectetur at ipsam impedit labore alias Saepe in dolorum aliquid?</h3>
                <p>Amet eligendi alias perferendis blanditiis rem, illum Quibusdam obcaecati officia dignissimos quod magnam. Corporis minima quibusdam quae tempora fugit inventore Quisquam aut dolorum esse corporis distinctio, vitae Sapiente qui labore!</p>
            </div>
            
        </div>
    </div>
    <%- include("partials/footer.html") %>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>
